.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*--------------*/
html,body {
  height:100%;
}

#root{
  height: 100%;
}

.wholePage{
  height:100%;
}

.title {
  font-size:250%;
  margin-top:10%;
  color: #BDEDF6;
  text-shadow: 2px 2px #0F84AB;
  font-family: 'Love Ya Like A Sister', cursive;
}

.pointIt {
  cursor:pointer;
}

.center {
  width: 20%;
  margin: 0 auto;
}

input {
  display:block;
  margin-top:5%;
  width:100%;
  /*padding:2%;*/
  font-size:130%;
}

.submitIt {
  margin:0;
  margin-top:10%;
  background-color:#0F84AB;
  color:white;
  border-radius:0px;
  padding:2% 5%;
  font-size:110%;
  cursor:pointer;
  width:100%;
}

.userImg{
  border: 1px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10% 0;
}

.sideBarIcon{
  /*background-color: yellow;*/
  /*border-right: 1px solid black;*/
  color:white;
}

.dropdownBtn{
  background: none;
  border: none;
  font-size: 30px;
  float: right;
}

.addDocBtn{
  float: right;
  color:#0F84AB;
}

.navBtn{
  font-size: 2em;
  border: none;
  margin-left: 1%;
  color:#0F84AB;
}

.headerDiv{
  padding-bottom: 1%;
  border-bottom: 2px solid #0F84AB;
}

.headerStyle {
  font-size:280%;
  margin-top:1%;
  color: #BDEDF6;
  text-shadow: 2px 2px #0F84AB;
  font-family: 'Love Ya Like A Sister', cursive;
}

.folderStructure {
  background-color: #0F84AB;
}

.sideBarSizeDef {
      padding: 0;
      height:100%;
      background-color:#0F84AB;
      /*border-right: 1px solid white;*/
}

.folderHeader {
    width: 100%;
    padding-left: 10%;
    font-size: 130%;
    color:white;
}

/*------Drop Down Value---------*/
.dropDownIcon {
  list-style: none;
  text-align:left;
  background-color:white;
  color:#0F84AB;
  padding: 0;
  width:70%;
  position:absolute;
  top:5%;
  right:0;
  border:1px solid #0F84AB;
  border-radius:5px;
}

.listItem {
  padding:1%;
  font-size:125%;
  border-bottom:1px solid #0F84AB;
  cursor:pointer;
}

.lastItem {
  border-bottom:0;
}

.hidden {
  display:none;
}